
0% {
  left: 0px;
  text-shadow: 9px 0px 0px #00aaff;
}

1% {
  left: -2px;
  text-shadow: -5px 0px 0px #ffee00;
}

2% {
  left: -1px;
  text-shadow: -18px 0px 0px #c0147c;
}

3% {
  left: 5px;
  text-shadow: 10px 0px 0px #00aaff;
}

4% {
  left: 1px;
  text-shadow: -20px 0px 0px #00ff80;
}

5% {
  left: 4px;
  text-shadow: 15px 0px 0px #00ff80;
}

6% {
  left: -3px;
  text-shadow: 17px 0px 0px #c0147c;
}

7% {
  left: -1px;
  text-shadow: -21px 0px 0px #00aaff;
}

8% {
  left: 0px;
  text-shadow: 16px 0px 0px #c0147c;
}

9% {
  left: -1px;
  text-shadow: 11px 0px 0px #00ff80;
}

10% {
  left: -2px;
  text-shadow: 2px 0px 0px #00aaff;
}

11% {
  left: -2px;
  text-shadow: -11px 0px 0px #00ff80;
}

12% {
  left: -1px;
  text-shadow: -15px 0px 0px #ffee00;
}

13% {
  left: -2px;
  text-shadow: -7px 0px 0px #00aaff;
}

14% {
  left: 1px;
  text-shadow: 22px 0px 0px #00ff80;
}

15% {
  left: 5px;
  text-shadow: 23px 0px 0px #ffee00;
}

16% {
  left: 4px;
  text-shadow: 5px 0px 0px #00ff80;
}

17% {
  left: 2px;
  text-shadow: 17px 0px 0px #ffee00;
}

18% {
  left: -6px;
  text-shadow: -22px 0px 0px #00aaff;
}

19% {
  left: 2px;
  text-shadow: 1px 0px 0px #c0147c;
}

20% {
  left: 0px;
  text-shadow: 23px 0px 0px #00ff80;
}

21% {
  left: -1px;
  text-shadow: 15px 0px 0px #00aaff;
}

22% {
  left: -1px;
  text-shadow: 8px 0px 0px #c0147c;
}

23% {
  left: 0px;
  text-shadow: 16px 0px 0px #c0147c;
}

24% {
  left: -2px;
  text-shadow: 19px 0px 0px #c0147c;
}

25% {
  left: -1px;
  text-shadow: 23px 0px 0px #00ff80;
}

26% {
  left: -4px;
  text-shadow: -18px 0px 0px #00aaff;
}

27% {
  left: 2px;
  text-shadow: 0px 0px 0px #00aaff;
}

28% {
  left: -1px;
  text-shadow: 8px 0px 0px #00ff80;
}

29% {
  left: 2px;
  text-shadow: 1px 0px 0px #00ff80;
}

30% {
  left: -2px;
  text-shadow: 20px 0px 0px #c0147c;
}

31% {
  left: 5px;
  text-shadow: 14px 0px 0px #00aaff;
}

32% {
  left: -1px;
  text-shadow: 12px 0px 0px #ffee00;
}

33% {
  left: 4px;
  text-shadow: -12px 0px 0px #00aaff;
}

34% {
  left: -3px;
  text-shadow: 10px 0px 0px #00aaff;
}

35% {
  left: 0px;
  text-shadow: -9px 0px 0px #ffee00;
}

36% {
  left: -3px;
  text-shadow: -5px 0px 0px #00aaff;
}

37% {
  left: 4px;
  text-shadow: -18px 0px 0px #c0147c;
}

38% {
  left: 0px;
  text-shadow: 17px 0px 0px #c0147c;
}

39% {
  left: 4px;
  text-shadow: -6px 0px 0px #00aaff;
}

40% {
  left: 2px;
  text-shadow: -8px 0px 0px #ffee00;
}

41% {
  left: 1px;
  text-shadow: 24px 0px 0px #00aaff;
}

42% {
  left: 4px;
  text-shadow: -21px 0px 0px #00aaff;
}

43% {
  left: -4px;
  text-shadow: -13px 0px 0px #ffee00;
}

44% {
  left: 2px;
  text-shadow: 22px 0px 0px #c0147c;
}

45% {
  left: 1px;
  text-shadow: -6px 0px 0px #00aaff;
}

46% {
  left: -3px;
  text-shadow: 20px 0px 0px #00ff80;
}

47% {
  left: 2px;
  text-shadow: 23px 0px 0px #c0147c;
}

48% {
  left: 0px;
  text-shadow: -1px 0px 0px #ffee00;
}

49% {
  left: -4px;
  text-shadow: -21px 0px 0px #00aaff;
}

50% {
  left: -4px;
  text-shadow: -21px 0px 0px #00aaff;
}

51% {
  left: 0px;
  text-shadow: 4px 0px 0px #c0147c;
}

52% {
  left: -4px;
  text-shadow: -8px 0px 0px #c0147c;
}

53% {
  left: 0px;
  text-shadow: 13px 0px 0px #ffee00;
}

54% {
  left: -3px;
  text-shadow: 16px 0px 0px #00ff80;
}

55% {
  left: -1px;
  text-shadow: 23px 0px 0px #00ff80;
}

56% {
  left: -4px;
  text-shadow: 18px 0px 0px #c0147c;
}

57% {
  left: -6px;
  text-shadow: 16px 0px 0px #ffee00;
}

58% {
  left: 0px;
  text-shadow: 23px 0px 0px #00aaff;
}

59% {
  left: 3px;
  text-shadow: 16px 0px 0px #00aaff;
}

60% {
  left: 3px;
  text-shadow: 20px 0px 0px #ffee00;
}

61% {
  left: 5px;
  text-shadow: 20px 0px 0px #00aaff;
}

62% {
  left: 1px;
  text-shadow: -4px 0px 0px #00aaff;
}

63% {
  left: -6px;
  text-shadow: 18px 0px 0px #ffee00;
}

64% {
  left: -6px;
  text-shadow: -21px 0px 0px #ffee00;
}

65% {
  left: -5px;
  text-shadow: 12px 0px 0px #ffee00;
}

66% {
  left: 1px;
  text-shadow: -21px 0px 0px #ffee00;
}

67% {
  left: -5px;
  text-shadow: -6px 0px 0px #00ff80;
}

68% {
  left: -1px;
  text-shadow: -21px 0px 0px #c0147c;
}

69% {
  left: 1px;
  text-shadow: -6px 0px 0px #00aaff;
}

70% {
  left: 1px;
  text-shadow: 2px 0px 0px #c0147c;
}

71% {
  left: 1px;
  text-shadow: 16px 0px 0px #c0147c;
}

72% {
  left: 4px;
  text-shadow: -21px 0px 0px #ffee00;
}

73% {
  left: -4px;
  text-shadow: -1px 0px 0px #c0147c;
}

74% {
  left: -5px;
  text-shadow: -7px 0px 0px #ffee00;
}

75% {
  left: 3px;
  text-shadow: 6px 0px 0px #00aaff;
}

76% {
  left: -2px;
  text-shadow: 13px 0px 0px #00ff80;
}

77% {
  left: 1px;
  text-shadow: -5px 0px 0px #ffee00;
}

78% {
  left: 3px;
  text-shadow: -23px 0px 0px #c0147c;
}

79% {
  left: -2px;
  text-shadow: 10px 0px 0px #ffee00;
}

80% {
  left: -4px;
  text-shadow: -9px 0px 0px #00ff80;
}

81% {
  left: 0px;
  text-shadow: 13px 0px 0px #c0147c;
}

82% {
  left: -1px;
  text-shadow: 8px 0px 0px #00aaff;
}

83% {
  left: -1px;
  text-shadow: 18px 0px 0px #00ff80;
}

84% {
  left: 2px;
  text-shadow: -18px 0px 0px #ffee00;
}

85% {
  left: -5px;
  text-shadow: -21px 0px 0px #00aaff;
}

86% {
  left: -3px;
  text-shadow: 1px 0px 0px #c0147c;
}

87% {
  left: 0px;
  text-shadow: 15px 0px 0px #00ff80;
}

88% {
  left: -2px;
  text-shadow: -2px 0px 0px #c0147c;
}

89% {
  left: 0px;
  text-shadow: -18px 0px 0px #c0147c;
}

90% {
  left: 5px;
  text-shadow: 17px 0px 0px #ffee00;
}

91% {
  left: 2px;
  text-shadow: 19px 0px 0px #00ff80;
}

92% {
  left: -3px;
  text-shadow: -24px 0px 0px #00aaff;
}

93% {
  left: 0px;
  text-shadow: 12px 0px 0px #ffee00;
}

94% {
  left: 5px;
  text-shadow: 12px 0px 0px #c0147c;
}

95% {
  left: -4px;
  text-shadow: 9px 0px 0px #00ff80;
}

96% {
  left: 1px;
  text-shadow: -17px 0px 0px #ffee00;
}

97% {
  left: 2px;
  text-shadow: -19px 0px 0px #c0147c;
}

98% {
  left: 2px;
  text-shadow: -12px 0px 0px #c0147c;
}

99% {
  left: -3px;
  text-shadow: -17px 0px 0px #00aaff;
}

100% {
  left: -3px;
  text-shadow: 5px 0px 0px #ffee00;
}
